@media (max-width:375px ) {
    .loginform{
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        
       
    }
    .top{
        border: none;
        width: 375px;
    }
   
    
}
@media (max-width: 870px){
    .iphone{
        display: none;

    }
}